Flask==2.3.2
pytest==7.3.2
black==23.3.0
pydub==0.25.1
numpy==1.25.0
pylint==2.17.4
urllib3==1.26.6
requests==2.31.0
gunicorn==20.1.0
pytest-cov==4.1.0
soundfile==0.12.1
pytesseract==0.3.10
pymongo[srv]==4.4.0
pytest-mock==3.11.1
python-dotenv==1.0.0
ffmpeg-python==0.2.0
ffprobe-python==1.0.3
pylint-fail-under==0.3.0
speechrecognition==3.10.0
